
<div class="text-sm font-['Open Sans'] ">
  <header class="h-16 bg-dark-blue-testimonial-fd px-[3%]">
    <nav class="flex items-center justify-between h-full">
      <img class="h-8" src="./../../../assets/filodark/images/logo.svg" alt="icon logo">
      <ul class="flex items-center gap-x-5 text-white-fd">
        <li>Features</li>
        <li>Team</li>
        <li>Sign In</li>
      </ul>
    </nav>
  </header>

  <main class="">
    <section class="relative w-full">
      <div class="px-10 z-10 absolute top-0 flex flex-col items-center justify-center">
        <img class="mb-6 max-h-80" src="./../../../assets/filodark/images/illustration-intro.png" alt="intro">
        <div class="w-full flex flex-col items-center justify-center gap-y-5 text-center">
          <h2 class="text-xl font-semibold  text-white-fd">All your files in one secure location, accesible anywhere.</h2>
          <p class="text-white-fd text-sm font-medium">Fylo stores all your most important files in one secure location.
            Access them wherever you need, share and collaborate with friends family, and co-workers.
          </p>
          <a class="bg-blue-fd w-48 py-3 rounded-3xl text-xs font-semibold text-white-fd">Get Started</a>
        </div>
      </div>

      <div class="relative w-full h-[320px] bg-dark-blue-testimonial-fd">
        <!-- <img class="absolute top-56 right-0 left-0 w-full" src="./../../../assets/filodark/images/bg-curvy-mobile.svg" alt="curvy-mobile"> -->
        <img class="absolute bottom-0 w-full max-h-40" src="./../../../assets/filodark/images/bg-curvy-mobile.svg" alt="curvy-mobile">
      </div>
      <div class="w-full h-[300px] bg-dark-blue-main-fd">
      </div>
    </section>
  </main>

</div>










